---
http_interactions:
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/company/02200605
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dTRTSFFVZGhLSHFZODVWcTc5TTB6SFhzWGl3cmFYOTJXek9pdUhwcTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remain:
      - '596'
      X-Ratelimit-Reset:
      - '1631694889'
      X-Ratelimit-Window:
      - 5m
    body:
      encoding: UTF-8
      string: '{"accounts":{"accounting_reference_date":{"day":"31","month":"12"},"last_accounts":{"period_end_on":"1990-12-31","type":"small","made_up_to":"1990-12-31"}},"company_name":"JOJO
        LIMITED","company_number":"02200605","company_status":"dissolved","date_of_creation":"1987-11-30","etag":"08d60890a9628e36e547ddf6295db49f952ccb42","has_charges":true,"has_insolvency_history":true,"jurisdiction":"england-wales","last_full_members_list_date":"1991-07-31","links":{"self":"/company/02200605","filing_history":"/company/02200605/filing-history","officers":"/company/02200605/officers","insolvency":"/company/02200605/insolvency","charges":"/company/02200605/charges"},"previous_company_names":[{"ceased_on":"1988-06-22","effective_from":"1987-11-30","name":"TODAYS
        DREAMS LIMITED"}],"registered_office_address":{"locality":"Beds.","address_line_1":"8
        Cardiff Road","address_line_2":"Luton"},"sic_codes":["1823"],"type":"ltd","undeliverable_registered_office_address":false,"date_of_cessation":"2012-04-10","can_file":false}'
  recorded_at: Wed, 15 Sep 2021 08:29:50 GMT
recorded_with: VCR 5.0.0
