---
http_interactions:
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/company/02200605
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dTRTSFFVZGhLSHFZODVWcTc5TTB6SFhzWGl3cmFYOTJXek9pdUhwcTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remain:
      - '599'
      X-Ratelimit-Reset:
      - '1525274975'
      X-Ratelimit-Window:
      - 5m
    body:
      encoding: UTF-8
      string: '{"type":"ltd","sic_codes":["1823"],"annual_return":{"last_made_up_to":"1991-07-31"},"company_number":"02200605","last_full_members_list_date":"1991-07-31","accounts":{"last_accounts":{"made_up_to":"1990-12-31","type":"small"},"accounting_reference_date":{"month":"12","day":"31"}},"status":"dissolved","has_been_liquidated":true,"undeliverable_registered_office_address":false,"company_name":"JOJO
        LIMITED","registered_office_address":{"address_line_2":"Luton","address_line_1":"8
        Cardiff Road","locality":"Beds."},"date_of_creation":"1987-11-30","jurisdiction":"england-wales","has_insolvency_history":true,"etag":"27782ea1049df95866d826889df421ae21b16634","has_charges":true,"company_status":"dissolved","previous_company_names":[{"ceased_on":"1988-06-22","effective_from":"1987-11-30","name":"TODAYS
        DREAMS LIMITED"}],"links":{"self":"/company/02200605","filing_history":"/company/02200605/filing-history","officers":"/company/02200605/officers","charges":"/company/02200605/charges","insolvency":"/company/02200605/insolvency"},"date_of_cessation":"2012-04-10","can_file":false}'
  recorded_at: Wed, 02 May 2018 15:24:35 GMT
recorded_with: VCR 4.0.0
