---
http_interactions:
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/company/02200605/filing-history?items_per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dTRTSFFVZGhLSHFZODVWcTc5TTB6SFhzWGl3cmFYOTJXek9pdUhwcTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remain:
      - '599'
      X-Ratelimit-Reset:
      - '1631694889'
      X-Ratelimit-Window:
      - 5m
    body:
      encoding: UTF-8
      string: '{"start_index":0,"total_count":22,"items":[{"category":"gazette","date":"2012-04-10","description":"gazette-dissolved-compulsory","links":{"self":"/company/02200605/filing-history/MzA1NTIzMzMwMWFkaXF6a2N4","document_metadata":"https://frontend-doc-api.company-information.service.gov.uk/document/P-TFJGbWwtvfVNtFATvdFYsImVE4fKMoFhYzFRnpqQM"},"paper_filed":true,"type":"GAZ2","pages":1,"barcode":null,"transaction_id":"MzA1NTIzMzMwMWFkaXF6a2N4"},{"category":"gazette","date":"2011-12-27","description":"gazette-notice-compulsory","links":{"self":"/company/02200605/filing-history/MzA0OTI2MTEzOWFkaXF6a2N4","document_metadata":"https://frontend-doc-api.company-information.service.gov.uk/document/axUOSRC7XZc4nM0GBLbRBfqNMK2bs7mMNmEqmoCAmSc"},"paper_filed":true,"type":"GAZ1","pages":1,"barcode":null,"transaction_id":"MzA0OTI2MTEzOWFkaXF6a2N4"},{"category":"historical","date":"1995-01-01","description":"selection-of-mortgage-documents-registered-before-January-1995","links":{"self":"/company/02200605/filing-history/MTQ1OTEwNjIyYWRpcXprY3g","document_metadata":"https://frontend-doc-api.company-information.service.gov.uk/document/MOeEsQnEG_zAMGPhQ3oLS4lCtFt9ptWPatBj81i52eI"},"paper_filed":true,"subcategory":"mortgage","type":"PRE95M","pages":4,"barcode":null,"transaction_id":"MTQ1OTEwNjIyYWRpcXprY3g"},{"category":"gazette","date":"1994-07-04","description":"gazette-filings-brought-up-to-date","links":{"self":"/company/02200605/filing-history/ODc0OTY0MTRhZGlxemtjeA"},"paper_filed":true,"type":"DISS40","barcode":null,"transaction_id":"ODc0OTY0MTRhZGlxemtjeA"},{"category":"gazette","date":"1993-11-16","description":"gazette-notice-compulsory","links":{"self":"/company/02200605/filing-history/MTQxODQ1Mzg3YWRpcXprY3g"},"paper_filed":true,"type":"GAZ1","barcode":null,"transaction_id":"MTQxODQ1Mzg3YWRpcXprY3g"},{"action_date":"1990-12-31","category":"accounts","date":"1991-11-13","description":"accounts-with-accounts-type-small","description_values":{"made_up_date":"1990-12-31"},"links":{"self":"/company/02200605/filing-history/MzY4NTE4MDNhZGlxemtjeA","document_metadata":"https://frontend-doc-api.company-information.service.gov.uk/document/GHA4eFJtbTVBKyR_uPrEXz720L1uYHsSCowEv-3h5j8"},"paper_filed":true,"type":"AA","pages":8,"barcode":null,"transaction_id":"MzY4NTE4MDNhZGlxemtjeA"},{"category":"annual-return","date":"1991-08-29","description":"legacy","description_values":{"description":"Return
        made up to 31/07/91; full list of members"},"links":{"[...]
