---
http_interactions:
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/company/09732193/filing-history?items_per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dTRTSFFVZGhLSHFZODVWcTc5TTB6SFhzWGl3cmFYOTJXek9pdUhwcTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remain:
      - '598'
      X-Ratelimit-Reset:
      - '1631698146'
      X-Ratelimit-Window:
      - 5m
    body:
      encoding: UTF-8
      string: '{"total_count":27,"start_index":0,"items":[{"action_date":"2021-07-31","category":"accounts","date":"2021-09-15","description":"accounts-with-accounts-type-total-exemption-full","description_values":{"made_up_date":"2021-07-31"},"links":{"self":"/company/09732193/filing-history/MzMxMzkwMTg4MWFkaXF6a2N4","document_metadata":"https://frontend-doc-api.company-information.service.gov.uk/document/BKBYmejcW4K02Gn-Zku4FLgp2P10esnVBYxNAmIn3ng"},"type":"AA","pages":11,"barcode":"XAD2K4UG","transaction_id":"MzMxMzkwMTg4MWFkaXF6a2N4"},{"action_date":"2021-08-11","category":"confirmation-statement","date":"2021-08-11","description":"confirmation-statement-with-updates","description_values":{"made_up_date":"2021-08-11"},"links":{"self":"/company/09732193/filing-history/MzMxMDM4MzcxNWFkaXF6a2N4","document_metadata":"https://frontend-doc-api.company-information.service.gov.uk/document/B3Zw0iOLRn6ZxnhgwwSdKvL22c0nq976suwcR006Xb0"},"type":"CS01","pages":5,"barcode":"XAAMSWEQ","transaction_id":"MzMxMDM4MzcxNWFkaXF6a2N4"},{"category":"confirmation-statement","date":"2021-02-11","description":"second-filing-of-confirmation-statement-with-made-up-date","description_values":{"made_up_date":"2020-08-11"},"links":{"self":"/company/09732193/filing-history/MzI5MTE3MDQ2NGFkaXF6a2N4","document_metadata":"https://frontend-doc-api.company-information.service.gov.uk/document/TEfoYnkmULX_xgsREiY4CL5HVcfdxKo2Uuo_x_dDurA"},"paper_filed":true,"subcategory":"document-replacement","type":"RP04CS01","pages":6,"barcode":"A9WK3LWY","transaction_id":"MzI5MTE3MDQ2NGFkaXF6a2N4"},{"action_date":"2020-07-31","category":"accounts","date":"2021-01-20","description":"accounts-with-accounts-type-total-exemption-full","description_values":{"made_up_date":"2020-07-31"},"links":{"self":"/company/09732193/filing-history/MzI4OTE1MTE5NGFkaXF6a2N4","document_metadata":"https://frontend-doc-api.company-information.service.gov.uk/document/qbx2XEQco-0mO9kY0Hd5tPUHkrU3IABDz9E8zpngXdo"},"type":"AA","pages":11,"barcode":"X9WLCRV6","transaction_id":"MzI4OTE1MTE5NGFkaXF6a2N4"},{"action_date":"2020-08-11","category":"confirmation-statement","date":"2020-08-11","description":"confirmation-statement","description_values":{"original_description":"11/08/20
        Statement of Capital gbp 100"},"links":{"self":"/company/09732193/filing-history/MzI3NTAzNDM4NGFkaXF6a2N4","document_metadata":"https://frontend-doc-api.company-information.service.gov.uk/document/zsMUIjOyEW8dvKTOijiq0bA6SfyTu9ZNSSN0d9Eogyc"},"type":"CS01","pages":6,"annotations":[{"annotation":"Clarification
        A second filed CS01 (Statement of Capital and Shareholder Information) was
        registered on 11.02.2021.","category":"annotation","date":"2021-02-11","description":"annotation","description_values":{"description":"Clarification
        a second filed CS01 (Statement of Capital and Shareholder Information) was
        registered on 11.02.2021."},"type":"ANNOTATION"}],"paper_filed":true,"barcode":"X9B8FD3S","transaction_id":"MzI3NTAzNDM4NGFkaXF6a2N4"},{"action_date":"2020-07-14","category":"persons-with-significant-control","date":"2020-07-23","description":"notification-of-a-person-with-significant-control","description_values":{"notification_date":"2020-07-14","psc_name":"Catherine
        Jane Houghton"},"links":{"self":"/company/09732193/filing-history/MzI3Mzc3NDgyN2FkaXF6a2N4","document_metadata":"https://frontend-doc-api.company-information.service.gov.uk/document/acB9_b8W-Ox-8OdS4x19exs6jMYJ0BaGFarNHS3231s"},"subcategory":"notifications","type":"PSC01","pages":2,"barcode":"X99X3U23","transaction_id":"MzI3Mzc3NDgyN2FkaXF6a2N4"},{"action_date":"2020-07-14","category":"persons-with-significant-control","date":"2020-07-23","description":"change-to-a-person-with-significant-control","description_values":{"change_date":"2020-07-14","psc_name":"Mr
        Mark John Houghton"},"links":{"self":"/company/09732193/filing-history/MzI3Mzc3NDgwOWFkaXF6a2N4","document_metadata":"https://frontend-doc-api.company-information.service.gov.uk/document/kLBWuh_nMjmJX6qZfmZSz5kS_p_xlQiXjYYI-1Ei3P0"},"subcategory":"change","type":"PSC04","pages":2,"barcode":"X99X3TW3","transaction_id":"MzI3Mzc3NDgwOWFkaXF6a2N4"},{"action_date":"2020-07-14","category":"persons-with-significant-control","date":"2020-07-23","description":"cessation-of-a-person-with-significant-control","description_values":{"psc_name":"William
        Ben Ascott","cessation_date":"2020-07-14"},"links":{"self":"/company/09732193/filing-history/MzI3Mzc3NDc5NmFkaXF6a2N4","document_metadata":"https://frontend-doc-api.company-information.service.gov.uk/document/p3DhUWRG2aQKY040c84PAws1GBgw_p4izCOayEpJ7MM"},"subcategory":"termination","type":"PSC07","pages":1,"barcode":"X99X3TRU","transaction_id":"MzI3Mzc3NDc5NmFkaXF6a2N4"},{"action_date":"2019-07-31","category":"accounts","date":"2020-02-25","description":"accounts-with-accounts-type-total-exemption-full","description_values":{"made_up_date":"2019-07-31"},"links":{"self":"/company/09732193/filing-history/MzI1ODIwNTYzNWFkaXF6a2N4","document_metadata":"https://frontend-doc-api.company-information.service.gov.uk/document/pYAEGaKFdQZkGJoMrHXtuInRLQ19d36JoIldgCvq1lY"},"type":"AA","pages":11,"barcode":"X8ZJBMDV","transaction_id":"MzI1ODIwNTYzNWFkaXF6a2N4"},{"action_date":"2019-12-17","category":"address","date":"2019-12-17","description":"change-registered-office-address-company-with-date-old-address-new-address","description_values":{"new_address":"Regency
        House 48 Birmingham Road Bromsgrove Worcestershire B61 0DD","change_date":"2019-12-17","old_address":"Meryll
        House 57 Worcester Road Bromsgrove Worcestershire B61 7DN United Kingdom"},"links":{"self":"/company/09732193/filing-history/MzI1MjM2NDc1MWFkaXF6a2N4","document_metadata":"https://frontend-doc-api.company-information.service.gov.uk/document/mbREEhwZH-4bYXsPx_yhNTVusRpNm89t4MyLWOvg1GA"},"paper_filed":true,"type":"AD01","pages":2,"barcode":"A8KAUPJU","transaction_id":"MzI1MjM2NDc1MWFkaXF6a2N4"},{"links":{"self":"/company/09732193/filing-history/MzI0MjQ3NjI4NmFkaXF6a2N4","document_metadata":"https://frontend-doc-api.company-information.service.gov.uk/document/6NWNmy3FsvcxFqWsTfYXzfI_odKn8y3UR8oAJo3l-qs"},"description":"confirmation-statement-with-updates","date":"2019-08-23","description_values":{"made_up_date":"2019-08-12"},"category":"confirmation-statement","action_date":"2019-08-12","type":"CS01","pages":4,"barcode":"X8CFYDTU","transaction_id":"MzI0MjQ3NjI4NmFkaXF6a2N4"},{"links":{"self":"/company/09732193/filing-history/MzIzOTExNTU4NmFkaXF6a2N4","document_metadata":"https://frontend-doc-api.company-information.service.gov.uk/document/-_Bsv3KYjf4laUCNNnIFX78LPf4I-a24-P3Ui1ieS-o"},"type":"CH01","subcategory":"change","description":"change-person-director-company-with-change-date","action_date":"2019-07-11","category":"officers","description_values":{"officer_name":"Mrs
        Catherine Jane Houghton","change_date":"2019-07-11"},"date":"2019-07-11","pages":2,"barcode":"X89I5OQJ","transaction_id":"MzIzOTExNTU4NmFkaXF6a2N4"},{"category":"persons-with-significant-control","description_values":{"psc_name":"Mr
        Mark John Houghton","change_date":"2019-07-11"},"date":"2019-07-11","links":{"self":"/company/09732193/filing-history/MzIzOTExNTMwN2FkaXF6a2N4","document_metadata":"https://frontend-doc-api.company-information.service.gov.uk/document/tlLjJBX-8W-n[...]
