---
http_interactions:
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/company/BR014831/filing-history?items_per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dTRTSFFVZGhLSHFZODVWcTc5TTB6SFhzWGl3cmFYOTJXek9pdUhwcTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remain:
      - '480'
      X-Ratelimit-Reset:
      - '1525274316'
      X-Ratelimit-Window:
      - 5m
    body:
      encoding: UTF-8
      string: '{"items":[],"items_per_page":100,"filing_history_status":"filing-history-available","start_index":0,"total_count":0}'
  recorded_at: Wed, 02 May 2018 15:17:36 GMT
recorded_with: VCR 4.0.0
