---
http_interactions:
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/company/BR014831/filing-history?items_per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dTRTSFFVZGhLSHFZODVWcTc5TTB6SFhzWGl3cmFYOTJXek9pdUhwcTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remain:
      - '598'
      X-Ratelimit-Reset:
      - '1631694889'
      X-Ratelimit-Window:
      - 5m
    body:
      encoding: UTF-8
      string: '{"items":[],"total_count":0,"items_per_page":100,"start_index":0,"filing_history_status":"filing-history-available"}'
  recorded_at: Wed, 15 Sep 2021 08:29:49 GMT
recorded_with: VCR 5.0.0
