---
http_interactions:
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/company/02200605/filing-history?items_per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dTRTSFFVZGhLSHFZODVWcTc5TTB6SFhzWGl3cmFYOTJXek9pdUhwcTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remain:
      - '592'
      X-Ratelimit-Reset:
      - '1525274014'
      X-Ratelimit-Window:
      - 5m
    body:
      encoding: UTF-8
      string: '{"items_per_page":100,"total_count":21,"items":[{"type":"GAZ2","category":"gazette","description":"gazette-dissolved-compulsary","date":"2012-04-10","links":{"document_metadata":"https://document-api.companieshouse.gov.uk/document/P-TFJGbWwtvfVNtFATvdFYsImVE4fKMoFhYzFRnpqQM","self":"/company/02200605/filing-history/MzA1NTIzMzMwMWFkaXF6a2N4"},"pages":1,"paper_filed":true,"barcode":null,"transaction_id":"MzA1NTIzMzMwMWFkaXF6a2N4"},{"type":"GAZ1","date":"2011-12-27","category":"gazette","description":"gazette-notice-compulsary","paper_filed":true,"links":{"document_metadata":"https://document-api.companieshouse.gov.uk/document/axUOSRC7XZc4nM0GBLbRBfqNMK2bs7mMNmEqmoCAmSc","self":"/company/02200605/filing-history/MzA0OTI2MTEzOWFkaXF6a2N4"},"pages":1,"barcode":null,"transaction_id":"MzA0OTI2MTEzOWFkaXF6a2N4"},{"category":"gazette","description":"gazette-filings-brought-up-to-date","date":"1994-07-04","type":"DISS40","barcode":null,"transaction_id":"MDA4NzQ5NjQxNGFkaXF6a2N4"},{"description":"gazette-notice-compulsary","category":"gazette","date":"1993-11-16","type":"GAZ1","barcode":null,"transaction_id":"MDE0MTg0NTM4N2FkaXF6a2N4"},{"category":"accounts","description":"accounts-with-accounts-type-small","description_values":{"made_up_date":"1990-12-31"},"date":"1991-11-13","action_date":"1990-12-31","type":"AA","links":{"document_metadata":"https://document-api.companieshouse.gov.uk/document/GHA4eFJtbTVBKyR_uPrEXz720L1uYHsSCowEv-3h5j8","self":"/company/02200605/filing-history/MDAzNjg1MTgwM2FkaXF6a2N4"},"pages":8,"paper_filed":true,"barcode":null,"transaction_id":"MDAzNjg1MTgwM2FkaXF6a2N4"},{"date":"1991-08-29","category":"annual-return","description_values":{"description":"Return
        made up to 31/07/91; full list of members"},"description":"legacy","type":"363a","links":{"document_metadata":"https://document-api.companieshouse.gov.uk/document/VoBVYjfRcmNmzi4XeaUU5aG-z8pRLGMirRWt6PFKRhE","self":"/company/02200605/filing-history/MDAyMjQ0OTQ0M2FkaXF6a2N4"},"pages":7,"paper_filed":true,"barcode":null,"transaction_id":"MDAyMjQ0OTQ0M2FkaXF6a2N4"},{"date":"1991-06-19","category":"insolvency","description":"liquidation-administration-order","type":"2.7","subcategory":"administration","barcode":null,"transaction_id":"MDE1NDU1MTQwMGFkaXF6a2N4"},{"description":"liquidation-administration-notice-of-administration-order","category":"insolvency","date":"1991-06-19","subcategory":"administration","type":"2.6","barcode":null,"transaction_id":"MDEwNDI5MjM4MGFkaXF6a2N4"},{"type":"287","description_values":{"description":"Registered
        office changed on 11/04/91 from: 145 queensway bletchley milton keynes MK42
        2DU"},"description":"legacy","category":"addre[...]
