---
http_interactions:
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/search?items_per_page&q=HOKO&start_index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dTRTSFFVZGhLSHFZODVWcTc5TTB6SFhzWGl3cmFYOTJXek9pdUhwcTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remain:
      - '595'
      X-Ratelimit-Reset:
      - '1525261021'
      X-Ratelimit-Window:
      - 5m
    body:
      encoding: UTF-8
      string: '{"kind":"search#all","items_per_page":20,"page_number":1,"start_index":0,"items":[{"address_snippet":"JAG
        SHAW BAKER, Berners House, 47-48 Berners Street, London, W1T 3NF","kind":"searchresults#company","description":"09525857
        - Incorporated on  2 April 2015","description_identifier":["incorporated-on"],"matches":{"snippet":[],"title":[1,4]},"company_status":"active","company_number":"09525857","company_type":"ltd","title":"HOKO
        LTD","links":{"self":"/company/09525857"},"date_of_creation":"2015-04-02","address":{"care_of_name":"JAG
        SHAW BAKER","address_line_1":"47-48 Berners Street","postal_code":"W1T 3NF","locality":"London","premises":"Berners
        House"},"snippet":""},{"company_type":"ltd","title":"HOKO AGENCY LIMITED","company_status":"active","company_number":"10659513","description_identifier":["incorporated-on"],"matches":{"snippet":[],"title":[1,4]},"description":"10659513
        - Incorporated on  8 March 2017","address_snippet":"17 Southland Road, Leicester,
        England, LE2 3RJ","kind":"searchresults#company","snippet":"","address":{"country":"England","premises":"17","postal_code":"LE2
        3RJ","locality":"Leicester","address_line_1":"Southland Road"},"date_of_creation":"2017-03-08","links":{"self":"/company/10659513"}},{"description_identifier":["incorporated-on"],"description":"SC531509
        - Incorporated on  4 April 2016","matches":{"snippet":[],"title":[1,4]},"address_snippet":"100
        Main Street, Lower Largo, Leven, Fife, Scotland, KY8 6BP","kind":"searchresults#company","company_type":"ltd","title":"HOKO
        DESIGN LTD","company_status":"active","company_number":"SC531509","address":{"country":"Scotland","region":"Fife","address_line_2":"Lower
        Largo","address_line_1":"Main Street","premises":"100","postal_code":"KY8
        6BP","locality":"Leven"},"date_of_creation":"2016-04-04","links":{"self":"/company/SC531509"},"snippet":""},{"company_type":"ltd","title":"HOKODO
        LTD","company_status":"active","company_number":"11215527","description_identifier":["incorporated-on"],"description":"11215527
        - Incorporated on 20 February 2018","matches":{"title":[1,6],"snippet":[]},"address_snippet":"20-22
        Wenlo[...]
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/search?items_per_page&q=HOKO&start_index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dTRTSFFVZGhLSHFZODVWcTc5TTB6SFhzWGl3cmFYOTJXek9pdUhwcTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remain:
      - '594'
      X-Ratelimit-Reset:
      - '1525261021'
      X-Ratelimit-Window:
      - 5m
    body:
      encoding: UTF-8
      string: '{"start_index":0,"page_number":1,"total_results":28,"items_per_page":20,"items":[{"links":{"self":"/company/09525857"},"description_identifier":["incorporated-on"],"date_of_creation":"2015-04-02","address_snippet":"JAG
        SHAW BAKER, Berners House, 47-48 Berners Street, London, W1T 3NF","kind":"searchresults#company","company_number":"09525857","description":"09525857
        - Incorporated on  2 April 2015","company_status":"active","address":{"locality":"London","premises":"Berners
        House","postal_code":"W1T 3NF","care_of_name":"[...]
