---
http_interactions:
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/search?items_per_page&q=HOKO&start_index
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic dTRTSFFVZGhLSHFZODVWcTc5TTB6SFhzWGl3cmFYOTJXek9pdUhwcTo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '600'
      X-Ratelimit-Remain:
      - '597'
      X-Ratelimit-Reset:
      - '1631694889'
      X-Ratelimit-Window:
      - 5m
    body:
      encoding: UTF-8
      string: '{"items":[{"description":"13233612 - Incorporated on 27 February 2021","date_of_creation":"2021-02-27","company_status":"active","company_number":"13233612","kind":"searchresults#company","address":{"locality":"Birmingham","country":"United
        Kingdom","premises":"Office 610","address_line_1":"One Victoria Square","postal_code":"B1
        1BD","region":"West Midlands"},"address_snippet":"Office 610 One Victoria
        Square, Birmingham, West Midlands, United Kingdom, B1 1BD","links":{"self":"/company/13233612"},"description_identifier":["incorporated-on"],"snippet":"","title":"HOKO
        LIMITED","company_type":"ltd","matches":{"title":[1,4],"snippet":[]}},{"title":"HOKO
        LTD","snippet":"","description_identifier":["dissolved-on"],"links":{"self":"/company/09525857"},"matches":{"snippet":[],"title":[1,4]},"company_type":"ltd","company_number":"09525857","company_status":"dissolved","date_of_creation":"2015-04-02","date_of_cessation":"2020-01-21","description":"09525857
        - Dissolved on 21 January 2020","address_snippet":"Berners House, 47-48 Berners
        Street, London, W1T 3NF","address":{"address_line_1":"47-48 Berners Street","premises":"Berners
        House","locality":"London","postal_code":"W1T 3NF"},"kind":"searchresults#company"},{"snippet":"","description_identifier":["dissolved-on"],"links":{"self":"/company/04951022"},"title":"HOKO
        LIMITED","company_type":"ltd","matches":{"title":[1,4],"snippet":[]},"description":"04951022
        - Dissolved on  1 February 2011","company_status":"dissolved","company_number":"04951022","date_of_creation":"2003-11-03","date_of_cessation":"2011-02-01","kind":"searchresults#company","address":{"postal_code":"NR21
        9AF","address_line_2":"Fakenham","premises":"11 ","address_line_1":"Norwich
        Street"},"address_snippet":"11  Norwich Street, Fakenham, NR21 9AF"},{"address_snippet":"100
        Main Street, Lower Largo, Leven, Scotland, KY8 6BP","address":{"postal_code":"KY8
        6BP","premises":"100","address_line_2":"Lower Largo","address_line_1":"Main
        Street","country":"Scotland","locality":"Leven"},"kind":"searchresults#company","date_of_creation":"2020-09-16","company_number":"SC674432","company_status":"activ[...]
- request:
    method: get
    uri: https://api.companieshouse.gov.uk/search?items_per_page&q=HOKO&start_index
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
      Ch-Authentication-Error:
      - Empty Authorization header
      Www-Authenticate:
      - Invalid or no Authorisation header has been provided
    body:
      encoding: UTF-8
      string: '{"error":"Empty Authorization header","type":"ch:service"}'
  recorded_at: Wed, 15 Sep 2021 08:29:50 GMT
recorded_with: VCR 5.0.0
